*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    background-color: #181719;
}


.header{
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 30px 0;
    max-width: 80%;
    margin: 0 auto;
}

.header__logo{
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-family: 'Crimson Pro';
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    color: #ffff;
    text-transform: uppercase;
    padding: 10px;
}

.header__logo:hover {
    color: #828282;
}

.navbar__burger{
    filter: invert();
    width: 35px;
}

.navbar__exit{
    filter: invert();
    width: 35px;
}

.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li{
    margin-left: 45px;
}

.menu a{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ffff;
    text-decoration: none;
    position: relative;
}

.menu a::after{
    content: "";
    background-color: #ffff;
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: opacity 0.3s;
}

.menu a.selected::after,
.menu a:hover::after{
    opacity: 0.8;
}

.menu a:hover{
    color: #ffff;
}

.navbar__open,
.navbar__close{
    display: none;
}

@media (max-width: 950px) {
    /* Menu */

    .menu {
      flex-direction: column;
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: #181719;
      color: #ffff;
      overflow-y: auto;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
    }
  
    .menu li {
      margin: 0;
    }
  
    .menu a {
      color: #ffff;
      line-height: 100px;
      font-size: 18px;
    }
  
    .navbar__open,
    .navbar__close {
      display: block;
      border: none;
      background: none;
      cursor: pointer;
    }
  
    .navbar__close {
      align-self: flex-end;
      padding: 30px 15px;
      position: absolute;
      top: 0;
      right: 0;
    }
  
    .navbar__opened {
      opacity: 1;
      pointer-events: all;
    }
  
    .navbar__open:focus:not(:focus-visible),
    .navbar__close:focus:not(:focus-visible) {
      outline: none;
    }

    .menu a::after{
        content: none;
    }

    .menu a:hover,
    .menu a.selected {
        color: #828282;
        border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    }

  }

.section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-top: 50px;
    max-width: 80%;
    margin: auto;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info__title{
    width: 100%;
    font-family: 'Lora';
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    color: #ffff;
}

.info__subttile {
    font-family: 'Lora';
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    color: #ffff;
}

.info__subttile span {
    color: #828282;
}

.info__description {
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffff;
}

.info__icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
}

.info__icons a{
    border: 2px solid #ffff;
    border-radius: 50%;
    color: #ffff;
    padding: 10px;
    transition: 0.3s ease-in-out;
}

.bx {
    font-size: 25px;
}

.info__icons a:hover {
    color:#ffff;
    transform: scale(1.1);
    box-shadow: 0 0 10px #ffff;
    background-color: #181719;
}


.view {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffff;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    max-width: 200px;
}

.view__link{
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #ffff;
    padding: 10px 5px;
}

.view:hover {
    color:#ffff;
    transform: scale(1.1);
    box-shadow: 0 0 10px #ffff;
    background-color: #181719;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__image{
    width: 80%;
    border-radius: 50%;
}

@media (max-width: 1040px) {
    .section {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }

    .profile__image {
        width: 65%;
    }

    .info {
        padding-top: 25px;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .profile__image {
        width: 75%;
    }

    .info {
        gap: 10px;
    }

    .info__title {
        font-size: 36px;
        line-height: 35px;
    }

    .info__subttile {
        font-size: 28px;
    }

    .info__description {
        font-size: 14px;
        line-height: 20px;
    }
    
    .info__icons {
        margin-top: 10px;
        gap: 40px;
    }
    
    .info__icons a{
        padding: 10px;
    }
    
    .bx {
        font-size: 20px;
    }
    
    .view{
        max-width: 150px;
    }

    .view__link{
        font-size: 14px;
        line-height: 17px;
    }
}

.experience {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 80%;
    margin: auto;
}

.experience__info {
    display: flex;
    flex-direction: column;
}

.experience__period {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #ffff;
}

.experience__title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #ffff;
    margin-top: 15px;
}

.experience__description {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #ffff;
    margin-top: 15px;
}

.experience__text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #ffff;
    font-style: italic;
    margin-top: 15px;
}

.experience__responsibilities {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 15px;
}

.experience__item {
    list-style: none;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #ffff;
}

.experience__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience__img {
    width: 90%;
    height: auto;
}

.experience__tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: auto;
}

.tool {
    writing-mode: vertical-rl;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #ffff;
    text-transform: uppercase;
}

@media (max-width: 1000px) {
    .experience {
        grid-template-columns: 1fr;
    }

    .experience__container {
        flex-direction: row-reverse;
    }

    .experience__img {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .experience {
        padding-top: 50px;
    }

    .experience__title{ 
        font-size: 25px;
    }

    .tool {
        font-size: 12px;
    }
}

.cards {
    padding-top: 100px;
    display: grid;
    gap: 20px;
    width: 80%;
    margin: auto;
}

.card {
    overflow: hidden;
}

.card__container {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.card__img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 5px;
}

.card__container:hover .card__img {
    transform: scale(1.1);
    opacity: 0.2;
}

.card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.card__container:hover .card__overlay {
    opacity: 1;
}

.card__overlay-text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
    color: #ffff;
    text-transform: uppercase;
}

.card__info {
    max-width: 100%;
}

.card__title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #ffff;
    text-transform: uppercase;
    margin-top: 15px;
    border: 2px solid #ffff;
    border-radius: 30px;
    padding: 5px 10px;
    max-width: max-content;
}

.card__text {
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 13px;
    line-height: 20px;
    color: #ffff;
    margin-top: 15px;
}

.links {
    display: flex;
    gap: 40px;
    margin-top: 15px;
}

.link {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 13px;
    color: #ffff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (min-width: 1280px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .cards {
        grid-template-columns: 1fr;
        padding-top: 50px;
        gap: 50px;
    }
}